@{
    ViewBag.Title = "ConfigView";
}
<style>
.myclass {
        color:#b10505;
      list-style-type:circle
    }
</style>


<h3>@Html.ActionLink("Projects", "SearchProject")</h3>
<h3>@Html.ActionLink("Streams", "SearchStream")</h3>
<h3>@Html.ActionLink("Releases", "SearchRelease")</h3>
<h3>@Html.ActionLink("SubReleases", "SearchSubRelease")</h3>

