<!DOCTYPE html>

<html>
<head>
    <title> Welcome to Advanced-India</title>
</head>

<body>
    <p style=" font-size:16px;">
        Hi @ViewBag.Name,
    </p>
    <div style="font-size:16px;">
        Thanks for signing up to our site!!
    </div>
    <br />
    <div style="font-size:16px;">Regards,</div>
    <div style="font-size:16px;"> Continuousintegration Team</div>
</body>
</html>