@{
    ViewBag.Title = "EmailSent";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<html>
<body>
    <div class="col-sm-12 text-center" style="margin-top:150px;">
        <h3 style="font-family:Albertus">A notification mail has been sent to your Email-ID.</h3>
        <h3 style="font-family:Albertus">Thankyou!</h3>
    </div>
</body>


</html>