@model List<ContinousIntegration.T_Projects>

@{
    ViewBag.Title = "Project Summary";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}


<h2>Project Summary</h2>

<div id:"content">
    @grid.GetHtml(
            tableStyle: "Webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style",
            columns: grid.Columns(
            grid.Column("C_ProjectID", "Project Id"),
            grid.Column("C_ProjectName", "Project Name", format: (item) => @Html.RouteLink(((string)item.C_ProjectName), new { action = "GetTreeView", id = item.C_ProjectID })),
            grid.Column("C_ProjectDescription", "Project Description"),
            grid.Column("C_LastModified", "Last Modified"))
            )
</div>