@model ContinousIntegration.Models.Validation

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
    Html.EnableClientValidation();
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "date" }))
{
    <div class="form-signin" style="margin-top:90px;">
        <form class="">
            <h3 class="form-signin-heading">Login</h3>
            <br />
            @Html.TextBoxFor(model => model.C_UserName, "", new { @class = "form-control", placeholder = "User Name", id = "inputUname" })

            <br />
            @Html.PasswordFor(model => model.C_UserPassword, new { @class = "form-control ", placeholder = "Password", id = "inputPassword" })
            @Html.ValidationSummary("", new { @style = "color: red; font-family:PoorRichard" })
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:50%; float:left;">Login</button>
            @Html.ActionLink("Register", "Registration", "User", new { @class = "btn btn-lg btn-primary btn-block registerBtn" })
            <br /><br />
        </form>
    </div>
}