@{
    ViewBag.Title = "validateuser";
}

<a href="/User/Login"><u>logout</u></a>
@String.Format("{0}", System.Web.HttpContext.Current.Session["blah"]);
Html.ActionLink("", "", new { id = item.C_ProjectID })


<h2>Your account is not configured.</h2>
<h3>Please wait...Sorry for Inconvenience!!</h3>
<<input id="Submit1" type="submit" value="OK" />